<div class="milestone-flex-container">
	<div class="milestone-task-container">
		<h1>BREAKING DOWN: <span><%= @milestone.content %></span></h1>

			<%= render @milestone.todoitems %>
			<br>
			<%= render "todoitems/form" %>

	</div>
</div>