<div class="milestone-flex-container">
<h2>So you want to <%= @milestone.content %>, what do you need to do to get it done?</h2>
	<div class="milestone-task-container">
		

			<%= render @milestone.todoitems %>

			<%= render "todoitems/form" %>
	</div>
</div>